# environment variables
.env

# virtual environment
env/

# Byte-compiled / optimized files
*.pyc
__pycache__/

# Local development configuration
instance/

# IDE specific files
.vscode/

# Docker
Dockerfile

# system files
.DS_Store
